{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Profile</h1>
    <form>
        <input type="file" accept="image/png, image/jpeg, image/jpg">
        <input type="text" placeolder="{{app.user.username}}">
        <input type="text" placeolder="{{app.user.password}}">
        <button type="submit">Modifier</button>
    </form>
    {% for post in posts %}
        <p>{{post.title}}</p>
        <p>{{post.content}}</p>
    {% endfor %}
</div>
{% endblock %}
