{% extends 'base.html.twig' %}

{% block title %}Signin{% endblock %}

{% block body %}
<header>
    <h1>Signin</h1>
</header>
<main>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="buttons" type="submit" class="btn">S'Enregistrer</button>
    {{ form_end(registrationForm) }}
    <a class="links bloc marginCenter" href="/login">Vous avez déja un compte?</a>
    <a class="links bloc marginCenter" href="/">Retour</a>
</main>
{% endblock %}
