{% extends 'base.html.twig' %}

{% block title %}Réseaufony{% endblock %}

{% block body %}
<header>
    <nav class="textRight">
        {% if app.user %}
                <a><button>Logout</button></a>
                <div>
                    <a class="links" href="/profile">{{app.user.username}}</a>
                    <img src="{{app.user.image}}">
                </div>
        {% else %}
                <a href="/login"><button>Login</button></a>
                <a href="/signin"><button>Signin</button></a>
        {% endif %}
    </nav>
</header>
<main class="">
    <h1>Acceuil</h1>
    {% for post in posts %}
        <a class="links bold" href="/post/{{ post.id }}">{{ post.title }}</a>
        <p class="detailQuestions">{{ post.content }}</p>
    {% endfor %}
    {% if app.user %}
        {% if "Admin" in app.user.roles %}
            <a><button class="buttons deletes">Delete</button></a>
        {% endif %}
        <form class="blockForm marginCenter textLeft" action='/' method='POST'>
            <label class="" for="title">Quel est votre question:</label>
            <input class="bloc form" type="text" name="title">
            <label class="" for="content">Expliquer en détail votre probleme:</label>
            <textarea class="bloc form" name="content" rows="5" cols="40"></textarea><br>
            <input type="submit" value="valider">
        </form>
    {% endif %} 
</main>
{% endblock %}
