/*---GÉNÉRAL---*/
body{
    background-color: #2A2A2AFF;
    color: #FFFFFFFF;
    font-family: 'Baloo 2', cursive;
}

textarea{
    resize: none;
}



/*---CLASS---*/
/*--Général--*/
.form{
    margin-bottom: 1%;
    width: 97%;
}
.blockForm{
    width: 30%;
}

.buttons{
    margin-bottom: 2%;
}

.deletes{
    margin-bottom: 3%;
    margin-top: 0%;
}

/*-position-*/
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.marginCenter{
    margin-left: auto;
    margin-right: auto;
}

.bloc{
    display: block;
}

/*-style-*/
.links{
    color: #FFFFFFFF;
    text-decoration: none;
}
.links:hover{
    color: #FF00FFFF;
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
/*colors*/
.white{
    color: #FFFFFFFF;
}
.black{
    color: #000000FF
}
/*--Ciblées--*/
/*-acceuil-*/
.detailQuestions{
    margin-top: 0%;
    margin-bottom: 2%;
}



/*---ID---*/