{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<header>
    <h1>Login</h1>
</header>
<main>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    

    <form class="blockForm marginCenter textLeft" action="{{ path('login') }}" method="post">
        <label class="" for="username">Email:</label>
        <input class="form bloc" type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input class="form bloc" type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success#}
        

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="marginCenter" class="buttons" type="submit">Se Connecter</button>
    </form>
    <a class="links bloc marginCenter"href="/signin">Créé un compte</a>
    <a class="links" href="/">Retour</a>
<main>
{% endblock %}
