{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<header>
    <nav class="textRight">
        {% if app.user %}
                <a><button>Logout</button></a>
                <div>
                    <a class="links" href="/profile">{{app.user.username}}</a>
                    <img src="{{app.user.image}}">
                </div>
        {% else %}
                <a href="/login"><button>Login</button></a>
                <a href="/signin"><button>Signin</button></a>
        {% endif %}
    </nav>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
    {% endfor %}
</header>
<main>
    <h3>Commentaire:</h3>
<<<<<<< HEAD
    {% for comment in comments %}
        <p>{{ comment.title }}</p>
    {% endfor %}
    {% if app.user %}
        {% if "Admin" in app.user.roles %}
            <a><button>Delete</button></a>
        {% endif %}
        <form class="blockForm marginCenter textLeft" action="" method="POST">
            <input class="form" type="text" placeholder="Écrivez un commentaire" name="content"><br>
            <input type="submit" value="Envoyer">
        </form>
    {% endif %}
    <a class="links" href="/">Retour</a>
=======
    <form action="" method="POST">
        <input type="text" placeholder="Écrivez un commentaire" name="content"><br>
        <input type="submit" value="Envoyer">
    </form>
    {% for comment in comments %}
    

    <p>{{ comment.title }}</p>
    
    {% for post in posts %}

    <a href="{{ post.id }}/vote/{{ comment.id }}" > Voter</a>

    {% endfor %}
    {% endfor %}
    <a href="/">Retour</a>
>>>>>>> ed0ed1beab401f95894a2fb077fec58ef25a8a86
</main>
{% endblock %}